{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
<h2>Войти</h2>
<form method="post" class="mb-2">
    {% csrf_token %}

    <div class="mb-3">
    {{ form.username.label_tag }}
    {{ form.username|add_class:"form-control border border-dark" }}
     {% if form.username.errors %}
            <div class="alert alert-danger">
                {{ form.username.errors.0 }}
            </div>
        {% endif %}
    </div>
    <div class="mb-3">
    {{ form.password.label_tag }}
    {{ form.password|add_class:"form-control border border-dark" }}
        {% if form.password.errors %}
            <div class="alert alert-danger">
                {{ form.password.errors.0 }}
            </div>
        {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Войти</button>
</form>
<p>У вас нет аккаунта ? <a href="{% url 'signup' %}">Зарегистрироваться</a></p>
{% endblock %}